
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.form {
    @media (min-width:768px) {
        margin: 0 auto;
        width: 60%;
    }
    &__error{
        color: red;
    }
}

a{
    cursor: pointer;
}

